name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  DeployToUATFolder:
    runs-on: ubuntu-latest
    steps:
      - run: echo done
  RaisePR:
    needs: DeployToProdFolder
    runs-on: ubuntu-latest
    steps:
      - run: echo done
  DeployToProdFolder:
    needs: RaisePR
    runs-on: ubuntu-latest
    steps:
      - run: echo done
        
