name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  DeployToUATFolder:
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
      
  RaisePR:
    needs: [ DeployToUATFolder ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        
      - name: Raise PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Raise PR
          gh pr view 10 --json state
          
          gh pr view 10 --json state --jq '.merged'

          
          #getPrResponse=$(curl -L -X POST -H "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}" https://api.github.com/repos/Solarboro/wcc.ms.gz/pulls -d "{\"title\":\"feature/$pipeline_label to PORD\",\"body\":\"Please pull these awesome changes in!\",\"head\":\"wcc/dev\",\"base\":\"master\"}")
          #echo "===getPrResponse===: ${getPrResponse}" 
          #gh --version
          gh pr create \
            --title "This is title" \
            --body "this is body" \
            --head ${{github.ref_name}} \
            --base feature/fixing-1 > out
          estatus=$?

          # [ ${estatus} -ne 0 ] && exit 1

          echo "PR is ready for review and approve: "
          cat out
          
          
  CheckPR:
    needs: [ RaisePR ]
    runs-on: ubuntu-latest
    steps:
      - name: chk PR
        run: |
        
      
  DeployToProdFolder:
    needs: [ CheckPR ]
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
        
