name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  build:
    if:  github.event_name == 'workflow_dispatch' && env.WFENABLE
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attemp}}

  Compile_iniline_approve1:
    runs-on: unbuntu-latest
    environment: Approval1
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

  Compile_iniline_approve2:
    needs: [Compile_iniline_approve1]
    runs-on: unbuntu-latest
    environment: Approval1
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

  Compile_iniline_approve3:
    needs: [Compile_iniline_approve2]
    runs-on: unbuntu-latest
    environment: Approval1
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

  Compile_parlla_approve1:
    runs-on: unbuntu-latest
    environment: Approval1
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

  Compile_parlla_approve2:
  
    runs-on: unbuntu-latest
    environment: Approval2
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

  Compile_parlla_approve3:
  
    runs-on: unbuntu-latest
    environment: Approval3
    steps:
      - name: init
        run: echo ${{github.run_attemp}}
      - name: init
        run: echo running

        
