name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  build:
    if:  github.event_name == 'workflow_dispatch' && vars.WFENABLE == 'Y'
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4
        
      - name: raise pr
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          title: this is title
          body: this is body
          branch: release/uat
          base: wcc/dev
          reviewers: Solarboro
        
      - name: Enable
        run: echo ${{github.run_attempt}}
  release:
    needs: build
    environment: Approval1
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}

  compileProgram:
    needs: build
    environment: Approval2
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}

  updateversion:
    needs: build
    environment: Approval3
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}

  confirmation:
    needs: [release,compileProgram,updateversion]
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}
 
        
