name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  DeployToUATFolder:
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
      
  RaisePR:
    needs: [ DeployToUATFolder ]
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
          [ "1" = "${{github.run_attempt}}" ] && exit 1
          exit 0
      
  DeployToProdFolder:
    needs: [ RaisePR ]
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
        
