name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  DeployToUATFolder:
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
      
  RaisePR:
    needs: [ DeployToUATFolder ]
    runs-on: ubuntu-latest
    steps:
      - name: Raise PR
        run: |
          getPrResponse=$(curl -L -X POST -H "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}" https://api.github.com/repos/Solarboro/wcc.ms.gz/pulls -d "{\"title\":\"feature/$pipeline_label to PORD\",\"body\":\"Please pull these awesome changes in!\",\"head\":\"wcc/dev\",\"base\":\"master\"}")
          echo "===getPrResponse===: ${getPrResponse}" 
          
  CheckPR:
    needs: [ RaisePR ]
    runs-on: ubuntu-latest
    steps:
      - name: chk PR
        run: |
        
      
  DeployToProdFolder:
    needs: [ CheckPR ]
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
        
