name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  build:
    if:  github.event_name == 'workflow_dispatch' && vars.WFENABLE == 'Y'
    environment: Approval1
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}
  release:
    needs: build
    environment: Approval2
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}

  compileProgram:
    environment: Approval1
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}

  updateversion:
    environment: Approval2
    runs-on: ubuntu-latest
    steps:
      - name: Enable
        run: echo ${{github.run_attempt}}
 
        
