name: Release
run-name:  "ArtifactID: ${{ github.run_id }} | ${{ github.actor }}"

on:
  workflow_dispatch:
  
permissions: write-all

  
jobs:
  DeployToUATFolder:
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
      
  RaisePR:
    needs: [ DeployToUATFolder ]
    runs-on: ubuntu-latest
    outputs:
      PR_NUMBER: ${{ steps.raisePR.outputs.prNumber}}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        
      - name: Raise PR
        id: raisePR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Raise PR 
          #show more fields gh pr view 12 --json state,merged 
          gh pr view 12 --json state --jq '"PR Status: \(.state)"' 
          [ "$(gh pr view 12 --json state --jq '.state')" = "MERGED"  ] || exit 1  

          gh pr create \
            --title "This is title" \
            --body "this is body" \
            --head ${{github.ref_name}} \
            --base feature/bug-2 > out
          estatus=$?

          # [ ${estatus} -ne 0 ] && exit 1

          echo "PR is ready for review and approve: "
          cat out
          echo "prNumber=1" >> $GITHUB_OUTPUT
          
          
  CheckPR:
    needs: [ RaisePR ]
    runs-on: ubuntu-latest
    steps:
      - name: chk PR
        run: |
          echo "PR_NUMBER: ${{needs.RaisePR.outputs.PR_NUMBER}}"
        
      
  DeployToProdFolder:
    needs: [ CheckPR ]
    runs-on: ubuntu-latest
    steps:
      - name: Process
        run: | 
          echo "current: ${{github.run_attempt}}"
        
